<div class="container">
  <div class="card">
    <!-- <div class="card-header">
          Featured
        </div> -->
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a (click)="sighup()" class="btn btn-primary">Sign Up</a>
    </div>
  </div>

  <div class="card mt-5">
    <!-- <div class="card-header">
          Featured
        </div> -->
    <div class="card-body">
      <h2>
        Special title treatment
      </h2>
      <div class="row">
        <div class="col">
          Special title treatment
        </div>
        <div class="col">
          Special title treatment
        </div>
        <div class="col">
          Special title treatment
        </div>
        <div class="col">
          Special title treatment
        </div>
      </div>
    </div>
  </div>
</div>